body{
  font-family:'Roboto', sans-serif;
}

.ClearBoth{
  clear :both;
}

/*******************************
INDEX HEAD
*********************************/


.menu{
  padding-top: 5px;
  padding-bottom: 5px;
}

header {
  background-color: #F4F4F4;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/***********************************
VIDEO 
*************************************/

#mainVid {
  width:100%;
}


#divVideo{
  position: relative;
}


#videoMessage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#videoMessage *{
  padding:0.4em;
  margin:0}

#videoMessage {
  text-shadow: 2spx 2px 2px #000000;
  color:white;
  z-index:99;
  top : 25%;
}


#videoMessage h1{
  font-size: 2.8em;
  color:#ffffff;
  text-align:center;
  font-family:'Roboto';
}
.videoClick {
  text-align:center;
  margin:0 auto;
  /* background-color:rgba(241, 241, 241, 0.25);*/
}
.videoClick a{
  color:white;
  font-size: 1.7em;
  cursor:pointer;
  cursor:hand;
}

#gamepad {
  width:150px;
  margin:0;
  padding:0;
}

.videoClick {
  text-align:center;
}
.videoClick a{
  color:white;
  font-size: 1.7em;
}


/* #85C62C VERt */

/**********************************
INTRO
*********************************/
#intro{
  background-color: #F4F4F4;
  padding: 50px 400px;
  margin-top: -7px;
}

#pintro{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto';
  text-align: center;
}

#charabutton{
  background-color: white;
  padding: 3px 2px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  max-width: 30%;
  font-size: 16px;
  font-weight: bold;
}

#charabutton:hover{
  background-color:#85C62C ;
  color: white;
  transition: 0.8s;
  border: 1px solid white;
}

section#intro a{
  color: black;
}

/***********************
CHARACTER LIST
************************/
#charatitle{
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}
.charaName{
  font-size: 24px;
  text-align: center;
}

.hidden{
  color: white;
}

/*******************

AVIS

******************/

#carousel {
  position: relative;
  width:100%;
  margin:0 auto;
  background-color:#85C62C;
  padding-bottom:50px;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 60%;
  margin:0 auto;
  height: 250px;
}

#slides ul {
  list-style: none;
  width:100%;
  height:250px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width:100%;
  height:250px;
  float:left;
  text-align: center;
  position: relative;
}

/* prev and next buttons */
.buttons-bar{
  max-width: 346px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
  width: 100%;
}

#buttons {
  padding:0 0 5px 0;
  float:right;
}

#buttons a {
  text-align:center;
  display:block;
  font-size:50px;
  float:left;
  outline:0;
  margin:0 60px;
  color:#000000;
  text-decoration:none;
  display:block;
  padding-bottom:9px;
  width:35px;
}

a#prev:hover, a#next:hover {
  color:#FFF;  
}

.quote-phrase, .quote-author {
  font-family:sans-serif;
  font-weight:300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
}

.quote-phrase {
  height: 200px;
  font-size:24px;
  color:#FFF;
  font-style:italic;
}

.quote-marks {
  font-size:30px;
  padding:0 3px 3px;
  position:inherit;
}

.quote-author {
  font-style:normal;
  font-size:20px;
  color:#000000;
  font-weight:400;
  height: 30px;
}

.quoteContainer, .authorContainer {
  display: table;
  width: 100%;
}



/*******************

Galeries

******************/

.instagram{
  margin:0 auto;
  text-align:center;
  padding-top:50px;
  padding-bottom:90px;
  background-color: #EAEAEA;
}

.imgInsta{
  display: inline-block;
  width:315px;
}


.instagram h1 {
  font-family:'futura';
}

.divimage{
  position: relative;
}

.divimage:hover{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  opacity: 0.5;
  transition: 0.8s;
}

.soutient{
  display: none;
  position: absolute;
  right: 20%;
  top: 30%;
  color: black;
  text-align: center;
}
.divimage:hover .soutient{
  display: inline-block;
}

.logoInsta{
  width: 50px;
}

/*******************

Footer

******************/

footer {
  background-color:#85C62C;
  text-align:center;
  padding-top:30px;
  padding-bottom:1px;
  font-family:'Roboto', sans-serif;

}

footer img {
  width:180px;

}


.social {
  padding:0;
  margin:0;
  cursor:pointer;
  font-family:'Roboto', sans-serif;
}

.social img {
  opacity:0.7;
  width:18px;
  margin:0;
  padding:0;
  margin-left:5px;
  display:inline;
}

.social p {
  font-size:13px;
  margin-top:25px;
}


footer div {
  padding-bottom:40px;
}